* {	margin: 0;
	padding:0;
}

a {
	text-decoration: none;
	font-weight:bold;
	font-size:20px;
	color:blue;
}

li {list-style: none;}
img {border: 0;}
body{
	font-family: "Times New Roman", serif;
}

header {
	display:block;
	background-color: white;
	height:150px;
	border-bottom: 1px solid black;
}

.top {
	position:fixed;
	top:0;
	left:0;
	right:0;
	z-index: 1;
}
nav {
	position:fixed;
	height: 100px;
	padding-top:10px;
	background-color:white;
	top:155px;
	right:0;
	left:0;
	border-bottom: 1px solid black;
}

#menu_set {
	width:600px;
	height:100px;	
	margin:0 auto;
}

.menu {
	float:left;
	width:200px;
	height:50px;
	line-height: 50px;
	padding:20px 50px;
	font-size: 25px;
	font-weight:bold;
	text-align: center;
}

.hover {
	font-size:2em;
	cursor: pointer;
}

section { 
	margin: 265px auto 0 auto;
	width:900px;
	height:1000px;
	padding:50px 100px 50px 100px;
	background: #f2f2f2;
}

.content{
	display:none;
	width: 700px;
	height: 950px;
	margin: 0 auto;
}

.content h1 {
	margin-top: 20px;
	height: 50px;
	text-align: center;
	line-height:50px;
	font-size: 35px;
}
.main {
	margin-top:50px;
	width: 700px;
	height: 700px;
	border: 1px solid black;
	position: relative;
}
.box {
	position:absolute;
	width: 50px;
	height: 50px;
}

.button_set{
	width:300px;
	margin: 0 auto;
}

.button {
	display: inline-block;
	width: 100px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 25px;
	font-weight:bold;
	margin: 0 20px;
	cursor:pointer;
}

#news_title a{
	display:block;
	text-decoration: none;
    width: 500px;
    height:100px;
    padding: 0 100px;
    margin-top: 20px;
    text-align: center;
    font-size: 26px;
}

#news_img {
	display:block;
	width: 500px;
	margin: 0 auto;

}
#img_area {
	width: 700px;
	height: 300px;
	text-align:center;
	overflow:scroll;
	margin: 20px 0;
}
#news_desc {
	 width: 500px;
	 padding:0 100px;
	 height: 200px;
	 font-size: 20px;
}
footer {
	background: white;
	position:fixed;
	height:100px;
	bottom:0;
	left:0;
	right:0;
	border-top:1px solid black;
	text-align: center;
	line-height: 100px;
	font-size: 24px;
	font-weight: bold;
}
